#contenedor{
   
    justify-content: center;
    text-align: center;
    gap: 29px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#contenedor button{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%
}
#contenedor button a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    
}